.dicon {
    margin: 15px -10px 10px -18px;
    font-size: 20px;
    color: #000;
    opacity: 0.2;
}

.error {
    color: var(--ion-color-danger);
}

ion-input {
    border: 1px solid;
    padding: 0 15px !important;
}