<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      step 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div>
    <p>Content</p>
    <form #codeField action="#">
      <ion-row *ngIf="errorMsg !== ''">
        <ion-col class="error" size="12">
          <ion-label>{{errorMsg}}</ion-label>
        </ion-col>
      </ion-row>
      <ion-row [ngClass]="{'error': errorMsg !== ''}" class="input_row">
        <ion-col size="12">
          <ion-input #inputField (keyup.enter)="handleClick($event)" (ionFocus)="clearErrorMessage()" placeholder="text"></ion-input>
        </ion-col>
      </ion-row>
      <ion-button (click)="openToast()" mode="ios">Continue1</ion-button>
    </form>
  </div>
</ion-content>
